@page
@model LoginModel

@{
    ViewData["Title"] = "Logowanie";
}

<div class="container mt-5">
    <div class="auth-box">
        <h1 class="text-center mb-4">@ViewData["Title"]</h1>

        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" placeholder="hasło" />
                <label asp-for="Input.Password" class="form-label">Hasło</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary mb-3">Zaloguj się</button>

            <div class="text-center">
                <p class="mb-2">
                    <a asp-page="./ForgotPassword" class="text-decoration-none">Zapomniałeś hasła?</a>
                </p>
                <p>
                    Nie masz konta? <a asp-page="./Register" class="text-decoration-none">Zarejestruj się</a>
                </p>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}