@page
@model RegisterModel

@{
    ViewData["Title"] = "Rejestracja";
}

<div class="container mt-5">
    <div class="auth-box">
        <h1 class="text-center mb-4">@ViewData["Title"]</h1>

        <form id="registerForm" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" placeholder="Imię" />
                <label asp-for="Input.FirstName">Imię</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" placeholder="Nazwisko" />
                <label asp-for="Input.LastName">Nazwisko</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" placeholder="Hasło" />
                <label asp-for="Input.Password">Hasło</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Powtórz hasło" />
                <label asp-for="Input.ConfirmPassword">Potwierdź hasło</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary mb-3">Zarejestruj się</button>

            <div class="text-center">
                <p>
                    Masz już konto? <a asp-page="./Login" class="text-decoration-none">Zaloguj się</a>
                </p>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}